.slider{
    width: 800px;
    margin: 0 auto;   
}
.slider__title{
    font-size: 30px;
    width: 250px;
    text-shadow: rgb(250, 0, 0) 2px 3px 2px;
    color: rgb(253, 94, 121);
    margin: 0 auto 30px;
}
.slider__1{
    height: 600px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/slider-1.jpeg);
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    border-radius: 40px;
}
.slider__2{
    height: 600px;
    background-image: url(../img/slider-2.jpeg);
    background-size: cover;
    background-position: center;
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    border-radius: 40px;
}
.slider__teaxt{
    position: absolute;
    bottom: 100px;
    left: 20px;
    font-size: 25px;
    color: rgb(255, 230, 0);
    text-shadow: rgb(255, 255, 255) 2px 3px 2px;
}
.slider__3{
    height: 600px;
    background-image: url(../img/slider-3.jpeg);
    background-size: cover;
    background-position: center;
    border-top: 2px red solid;
    border-bottom: 2px red solid;
    border-radius: 40px;
    position: relative;
}

.slick-track{
    display: flex;
}
.slick-list{
    overflow: hidden;
}
.slick-dots{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick-dots li{
    list-style: none;
    margin-left: 10px;
}
.slick-dots button{
    font-size: 0;
    width: 40px;
    height: 40px;
    background-image: url(../img/slider__dots/heart__1.svg);
    background-size: cover;
    background-position: center;
    border: none;
    background-color: pink;
}
.slick-dots li.slick-active button{
    transform: scale(1.2);
}

@media(max-width:900px){
    .slider{
        width: 700px;
        margin: 0 auto;   
    }
    .slider__1{
        height: 500px;
        background-size: cover;
        background-position: center;
        background-image: url(../img/slider-1.jpeg);
        border-top: 2px red solid;
        border-bottom: 2px red solid;
        border-radius: 40px;
    }
    .slider__2{
        height: 500px;
        background-image: url(../img/slider-2.jpeg);
        background-size: cover;
        background-position: center;
        border-top: 2px red solid;
        border-bottom: 2px red solid;
        border-radius: 40px;
    }
    .slider__3{
        height: 500px;
        background-image: url(../img/slider-3.jpeg);
        background-size: cover;
        background-position: center;
        border-top: 2px red solid;
        border-bottom: 2px red solid;
        border-radius: 40px;
        position: relative;
    }
    .slick-dots li{
        list-style: none;
        margin-left: 50px;
    }
}